<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<script type="text/javascript">
    function validate_required() {
        var name = document.getElementById('name');
        var type = document.getElementById('type');
        var date = document.getElementById('date');
        var hour = document.getElementById('hour');
        var duration = document.getElementById('duration');
        var profile = document.getElementById('profile');
        var location = document.getElementById('location');
        if (name==null|| type == null||date == null||hour == null
            ||duration == null||profile == null||location == null){
            alert("请将信息填写完整！");
            return false;
        }
        return true;
    }
</script>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}活动申请{% endblock %}</title>
</head>
<body>
{% block content %}
<h1>活动申请</h1>
<form action="{% url 'activities:activity_application' %}" method="post" name="Form" onsubmit="return validate_required()">
{% csrf_token %}
<center>
<table>
    <tr>
        <td>活动名称</td>
        <td><input type="text" id="name" name="name"></td>
    </tr>
    <tr>
        <td>活动类型</td>
        <td><input type="text" id="type" name="type"></td>
    </tr>
    <tr>
        <td>活动日期</td>
        <td>
            <input type="date" name="date">
        </td>
    </tr>
    <tr>
        <td>活动时间</td>
        <td>
            <select name="hour" id="hour">
                <option id="10" value="10">10</option>
                <option id="11" value="11">11</option>
                <option id="12" value="12">12</option>
                <option id="13" value="13">13</option>
                <option id="14" value="14">14</option>
                <option id="15" value="15">15</option>
                <option id="16" value="16">16</option>
                <option id="17" value="17">17</option>
                <option id="18" value="18">18</option>
            </select>&nbsp;点
        </td>
    </tr>
    <tr>
        <td>持续时间<small style="color: rgba(255,0,30,0.91)">(单位: 小时)</small></td>
        <td><input type="text" id="duration" name="duration"></td>
    </tr>
    <tr>
        <td>位置</td>
        <td><input type="text" id="location" name="location"></td>
    </tr>
    <tr>
        <td>活动概要</td>
        <td><textarea rows="5" id="profile" name="profile"></textarea></td>
    </tr>
</table>
<input type="button" value="返回" onclick="window.location.href=''">
<input type="submit" value="提交" >
</center>
</form>
{% endblock %}
</body>
</html>