{% extends "emptypage.html" %}

{% block title_name %}功能{% endblock %}
{% block page_name %}理赔{% endblock %}

{% block head%}
<head>
<title>jQuery Lightbox图片放大预览代码</title>
<link rel="stylesheet" href="/static/xuanfu/css/bootstrap-grid.min.css">
<link rel="stylesheet" href="/static/xuanfu/dist/zoomify.min.css">
<link rel="stylesheet" href="/static/xuanfu/css/style.css">
</head>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<div class="float-right">
					<form>
						<a class="btn btn-app mt-2" href="/compensate1.html"><i class="fa fa-edit"></i>申请理赔</a>
					</form>
				</div>
				<h4>理赔进度表</h4>
			</div>
			<div class="card-body">
				<!-- <div class="table-responsive"> -->
					<table class="table table-striped table-bordered mb-0 text-nowrap">
						<tbody><tr>
							<th>保单ID</th>
							<th>被保人名称</th>
							<th>进度</th>
							<th>意外证明</th>
							<th>身故保险金额</th>
							<th>状态</th>
							<th>操作</th>
						</tr>
						{% for item in LIST %}
							<tr>
								<td>{{item.id}} </td>
								<td>{{item.recognizee_name}}</td>
								<td class="align-middle">
									<div title="" class="progress h-4" data-toggle="tooltip" data-original-title="90%">
										<div class="progress-bar bg-success w-90"></div>
									</div>
								</td>
								<td>
									<div class="example col-xs-3 col-md-3">
									<img width="35" title="Wildan Ahdian" class="rounded-circle" src="/{{ item.image }}" alt = "{{ item.image_src}}" data-toggle="title">
										<!-- <p><img src="/{{ item.image }}" class="img-rounded" alt="{{ item.image_src}}"></p> -->
									</div>
								</td>
								<td>{{item.compensation_money}}</td>
								<td><div class="badge badge-success">{{item.state}}</div></td>
								<td><a class="btn btn-action btn-primary" href="#">详情</a></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<!-- </div> -->
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
<script src="/static/xuanfu/dist/zoomify.min.js"></script>
<script type="text/javascript">
	$('.example img').zoomify();
</script>
{% endblock %}