{% extends "emptypage.html" %}

{% block title_name %}功能{% endblock %}
{% block page_name %}理赔{% endblock %}

{% block content %}
<label>进度</label>
<div class="card">
	<div class="progress">
		<div class="progress-bar progress-bar-success" role="progressbar"
			 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
			 style="width: 10%;">
			<span class="sr-only">90% 完成（成功）</span>
		</div>
	</div>
</div>

{% if second %}
	<label>进度</label>
	<div class="card">
		<div class="progress">
			<div class="progress-bar progress-bar-success" role="progressbar"
				 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
				 style="width: 30%;">
				<span class="sr-only">90% 完成（成功）</span>
			</div>
		</div>
	</div>
	<center>
		<div class="col-lg-12 col-xl-6 col-md-12 col-sm-12">
			<div class="card">
				<div class="card-header">
					<h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">身故申请</font></font></h4>
				</div>
				<div class="card-body">
					<form class="form-horizontal">
						<div class="form-group row">
							<label class="col-md-3 col-form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">文本</font></font></label>
							<div class="col-md-9">
								<input type="text" class="form-control" value="Typing.....">
							</div>
						</div>
						<br>
						<div class="form-group row">
							<label class="col-md-3 col-form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">文本</font></font></label>
							<div class="col-md-9">
								<input type="text" class="form-control" value="Typing.....">
							</div>
						</div>
						<br>
						<div class="form-group row">
							<label class="col-md-3 col-form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">文本</font></font></label>
							<div class="col-lg-6">
								<form method="post">
									<div class="form-group files color  mb-lg-0">
										<input type="file" class="form-control1" multiple="">
									</div>
								</form>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</center>
{% endif %}
{% endblock %}