{% extends "emptypage.html" %}

{% block title_name %}功能{% endblock %}
{% block page_name %}投诉{% endblock %}

{% block content %}
<!-- <div class="col-lg-12 col-xl-6 col-md-12 col-sm-12"> -->
	<div class="card">
		<div class="card-header">
			<h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">投诉表</font></font></h4>
		</div>
		<div class="card-body">
			<form class="form-horizontal" action="#" method="post">
				<div class="form-group row mb-0">
					<label class="col-md-3 col-form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">投诉原因</font></font></label>
					<div class="col-md-9">
						<select class="form-control" name = "reason">
							<option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">理赔条件不合理</font></font></option>
							<option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">销售告知不充分或有歧义</font></font></option>
							<option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">拒赔理由不充分</font></font></option>
							<option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">捆绑销售保险产品</font></font></option>
							<option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">未经同意自动续保等问题</font></font></option>
							<option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">工作人员态度不好</font></font></option>
							<option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">功能太少</font></font></option>
							<option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">界面不舒服</font></font></option>
							<option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">其他</font></font></option>
						</select>
					</div>
				</div>
				<br>
				<div class="form-group row">
					<label class="col-md-3 col-form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">用户ID</font></font></label>
					<div class="col-md-9">
						<input type="text" class="form-control" name = "userid" readonly="" value={{ request.session.userid }} >
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">详细内容</font></font></label>
					<div class="col-md-9">
						<textarea class="form-control" rows="6" maxlength="290" name = "detail"></textarea>
					</div>
				</div>
				<div class="form-group mb-0 mt-2 row justify-content-end">
					<div class="col-md-9">
						<button type="submit" class="btn btn-info"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">提交</font></font></button>
					</div>
				</div>					
			</form>
		</div>
	</div>
	{% if inform %}
		<script type="text/javascript">
			var msg = "{{ inform }}";
			alert(msg);
		</script>
	{% endif %}
<!-- </div> -->
{% endblock %}