<nav class="navbar navbar-expand-lg main-navbar">
                    <a class="header-brand" href="index.html">
                        <img src="/static/assets/img/brand/logo.png" class="header-brand-img" alt="Kharna-Admin  logo">
                    </a>
                    <form class="form-inline mr-auto">
                        <ul class="navbar-nav mr-3">
                            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-md-none navsearch"><i class="ion ion-search"></i></a></li>
                        </ul>
                        <div class="search-element">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-primary" type="submit"><i class="ion ion-search"></i></button>
                        </div>
                    </form>
                    <a class="btn m-b-5 m-t-5" href="/index.html">首页</a>
                    <a class="btn m-b-5 m-t-5" href="/services">产品</a>
                    <a class="btn m-b-5 m-t-5" href="/about-us.html">关于我们</a>
                    <ul class="navbar-nav navbar-right">
                        <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="ion-ios-email-outline"></i>{{ request.session.msg_num }}</a>
                            <div class="dropdown-menu dropdown-list dropdown-menu-right">
                                <div class="dropdown-header">
                                </div>
                                <div class="dropdown-list-content" style="height: 422px; width: 380px;">
                                    <iframe data-v-637a89c0="" src="/small.html" frameborder="0" style="height: 422px; width: 380px;"></iframe>
                                </div>
                            </div>
                        </li>
                        
                        <li class="dropdown dropdown-list-toggle">
                            <a href="#" class="nav-link nav-link-lg full-screen-link">
                                <i class="ion-arrow-expand"  id="fullscreen-button"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg">
                                <img src="/static/assets/img/avatar/avatar-1.jpeg.jpg" alt="profile-user" class="rounded-circle w-32">
                                <div class="d-sm-none d-lg-inline-block">
                                {{request.session.user_name}}
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                {% if request.session.userid %}
                                    <a href="/manager" class="dropdown-item has-icon">
                                        <i class="ion ion-gear-a"></i> 设置
                                    </a>
                                    <a href="/index.html/?action=logout" class="dropdown-item has-icon">
                                        <i class="ion-ios-redo"></i> 登出
                                    </a>
                                {% else %}
                                    <a href="/login.html" class="dropdown-item has-icon">
                                        <i class="ion-ios-redo"></i> 登录
                                    </a>
                                    <a href="/register.html" class="dropdown-item has-icon">
                                        <i class="ion-ios-redo"></i> 注册
                                    </a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </nav>