<!doctype html>
<html class="no-js" lang="zxx">
{% include "head.html" %}
<body>
        {% include "newBar.html"%}

        <!-- Breacrumb Area -->
        <div class="breadcrumb-area" data-black-overlay="2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                        <div class="cr-breadcrumb text-center">
                            <h1>支付成功</h1>
                            <h2>{{ timestamp }}<h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// Breacrumb Area -->

        <!-- Page Content -->
        <main class="page-content">
			<!-- 404 Area Start -->
			<section class="four-zero-four ptb-130">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="four-zero-content text-center">
								<h2><span class="theme-color">成功支付{{ total_amount }}元</span></h2>
								<p><h3>订单号：{{ out_trade_no }}</h3></p>
								<a href="/index.html" class="cr-btn cr-btn-lg"><span>访问首页</span></a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- 404 Area End -->
        </main>
        <!--// Page Content -->

    </div>
    <!-- //Main wrapper -->

    <!-- JS Files -->
    <script src="/static/js/vendor/jquery-3.2.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <!-- <script src="/static/js/bootstrap.min.js"></script> -->
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/active.js"></script>
    <!-- <script src="/static/js/scripts.js"></script> -->
</body>

</html>
