<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{title}}</title>

		<!--Favicon -->
		<link rel="icon" href="/static/assets/img/favicon.ico" type="image/x-icon"/>

		<!--Bootstrap.min css-->
		<link rel="stylesheet" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css">

		<!--Icons css-->
		<link rel="stylesheet" href="/static/assets/css/icons.css">

		<!--Style css-->
		<link rel="stylesheet" href="/static/assets/css/style.css">

		<!--mCustomScrollbar css-->
		<link rel="stylesheet" href="/static/assets/plugins/scroll-bar/jquery.mCustomScrollbar.css">

		<!--Sidemenu css-->
		<link rel="stylesheet" href="/static/assets/plugins/toggle-menu/sidemenu.css">

		<!--Chartist css-->
		<link rel="stylesheet" href="/static/assets/plugins/chartist/chartist.css">
		<link rel="stylesheet" href="/static/assets/plugins/chartist/chartist-plugin-tooltip.css">

		<!--Full calendar css-->
		<link rel="stylesheet" href="/static/assets/plugins/fullcalendar/stylesheet1.css">
		
		<!--morris css-->
		<link rel="stylesheet" href="/static/assets/plugins/morris/morris.css">


</head>