{% extends "emptypage.html" %}

{% block title_name %}功能{% endblock %}
{% block page_name %}消息{% endblock %}

{% block content %}
<div class="email-app mb-4">
	<div class="inbox p-0">
		<div class="card-body">
			<div class="mailsearch mb-0">
				<input class="form-control" type="search" placeholder="Search" aria-label="搜索">
				<button class="btn btn-primary" type="submit"><i class="ion ion-search"></i></button>
			</div>
			<div class="toolbar d-none d-lg-block ">
				<div class="btn-group mt-3 ">
					<button type="button" class="btn btn-sm btn-light">
						<span class="fa fa-envelope">系统通知信息</span>
					</button>
					<button type="button" class="btn btn-sm btn-light">
						<span class="fa fa-star">支付通知信息</span>
					</button>
					<button type="button" class="btn btn-sm btn-light">
						<span class="fa fa-star-o">用户信息</span>
					</button>
				</div>
				<!-- <iframe data-v-637a89c0="" src="/index.html" frameborder="0" style="height: 100px; width: 100px;"></iframe> -->
				<div class="btn-group float-right mt-3 d-none d-lg-block">
					<button type="button" class="btn btn-sm btn-light">
						<span class="fa fa-chevron-left"></span>
					</button>
					<button type="button" class="btn btn-sm btn-light">
						<span class="fa fa-chevron-right"></span>
					</button>
				</div>
			</div>
		</div>
		 <ul class="mail_list list-group list-unstyled">

		</ul>
	</div>
</div>
{% endblock %}