<!DOCTYPE html>
<html lang="en">
	{% include "head2.html" %}
	<body class="app ">

		<div id="spinner"></div>

		<div id="app">
			<div class="main-wrapper" >
				{% include "extraBar.html" %}
				{% include "sideBar.html" %}
				<div class="app-content">
					<div class="section">
                    	<ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Empty page</li>
                        </ol>
						<div class="email-app mb-4">
							<nav class="p-0">
								<div class="card-body">
									<a href="#" class="btn btn-primary btn-block mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">新邮件</font></font></a>
								</div>
								<ul class="nav">
									<li class="nav-item">
										<a class="nav-link mr-0 border-top" href="#"><i class="fa fa-inbox"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">收件箱</font></font><span class="badge badge-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4</font></font></span></a>
									</li>
									<li class="nav-item">
										<a class="nav-link mr-0" href="#"><i class="fa fa-star"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 盯着</font></font></a>
									</li>
									<li class="nav-item">
										<a class="nav-link mr-0" href="#"><i class="fa fa-rocket"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 发送</font></font></a>
									</li>
									<li class="nav-item">
										<a class="nav-link mr-0" href="#"><i class="fa fa-trash-o"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 垃圾</font></font></a>
									</li>
									<li class="nav-item">
										<a class="nav-link mr-0" href="#"><i class="fa fa-bookmark"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 重要</font></font></a>
									</li>
									<li class="nav-item">
										<a class="nav-link mr-0" href="#"><i class="fa fa-inbox"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">设置</font></font><span class="badge badge-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4</font></font></span></a>
									</li>
								</ul>
							</nav>
							<div class="inbox p-0">
								<div class="card-body">
									<div class="mailsearch mb-0">
										<input class="form-control" type="search" placeholder="Search" aria-label="搜索">
										<button class="btn btn-primary" type="submit"><i class="ion ion-search"></i></button>
									</div>
									<div class="toolbar d-none d-lg-block ">
										<div class="btn-group mt-3 ">
											<button type="button" class="btn btn-sm btn-light">
												<span class="fa fa-envelope"></span>
											</button>
											<button type="button" class="btn btn-sm btn-light">
												<span class="fa fa-star"></span>
											</button>
											<button type="button" class="btn btn-sm btn-light">
												<span class="fa fa-star-o"></span>
											</button>
											<button type="button" class="btn btn-sm btn-light">
												<span class="fa fa-bookmark-o"></span>
											</button>
										</div>
										<div class="btn-group mt-3 ">
											<button type="button" class="btn btn-sm btn-light">
												<span class="fa fa-mail-reply"></span>
											</button>
											<button type="button" class="btn btn-sm btn-light">
												<span class="fa fa-mail-reply-all"></span>
											</button>
											<button type="button" class="btn btn-sm btn-light">
												<span class="fa fa-mail-forward"></span>
											</button>
										</div>
										<button type="button" class="mt-3 btn btn-sm btn-light">
											<span class="fa fa-trash-o"></span>
										</button>
										<div class="btn-group mt-3 ">
											<button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">
												<span class="fa fa-tags"></span>
												<span class="caret"></span>
											</button>
											<div class="dropdown-menu">
												<a class="dropdown-item" href="#">add label <span class="badge badge-danger"> Home</span></a>
												<a class="dropdown-item" href="#">add label <span class="badge badge-info"> Job</span></a>
												<a class="dropdown-item" href="#">add label <span class="badge badge-success"> Clients</span></a>
												<a class="dropdown-item" href="#">add label <span class="badge badge-warning"> News</span></a>
											</div>
										</div>
										<div class="btn-group float-right mt-3 d-none d-lg-block">
											<button type="button" class="btn btn-sm btn-light">
												<span class="fa fa-chevron-left"></span>
											</button>
											<button type="button" class="btn btn-sm btn-light">
												<span class="fa fa-chevron-right"></span>
											</button>
										</div>
									</div>
								</div>

								 <ul class="mail_list list-group list-unstyled">
									<li class="list-group-item">
										<div class="media">
											<div class="pull-left">
												<div class="controls">
													<div class="checkbox">
														<input type="checkbox" id="basic_checkbox_1">
														<label for="basic_checkbox_1"></label>
													</div>
													<a href="javascript:void(0);" class="favourite text-muted hidden-sm-down" data-toggle="active"><i class="zmdi zmdi-star-outline"></i></a>
												</div>
											</div>
											<div class="media-body">
												<div class="media-heading">
													<a href="mail-single.html" class="mr-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Velit劳动</font></font></a>
													<small class="float-right text-muted"><time class="hidden-sm-down" datetime="2017"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">上午12:35</font></font></time><i class="zmdi zmdi-attachment-alt ml-2"></i> </small>
												</div>
												<p class="msg"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem Ipsum简直就是印刷和排版行业的虚拟文本。 </font></font></p>
											</div>
										</div>
									</li>
									<li class="list-group-item unread">
										<div class="media">
											<div class="pull-left">
												<div class="controls">
													<div class="checkbox">
														<input type="checkbox" id="basic_checkbox_2">
														<label for="basic_checkbox_2"></label>
													</div>
													<a href="javascript:void(0);" class="favourite col-amber hidden-sm-down" data-toggle="active"><i class="zmdi zmdi-star"></i></a>
												</div>
											</div>
											<div class="media-body">
												<div class="media-heading">
													<a href="mail-single.html" class="mr-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">简单的虚拟文本</font></font></a>
													<small class="float-right text-muted"><time class="hidden-sm-down" datetime="2017"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">上午12:35</font></font></time><i class="zmdi zmdi-attachment-alt ml-2"></i> </small>
												</div>
												<p class="msg"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem Ipsum只是印刷和排版行业的虚拟文本。</font></font></p>
											</div>
										</div>
									</li>
									<li class="list-group-item">
										<div class="media">
											<div class="pull-left">
												<div class="controls">
													<div class="checkbox">
														<input type="checkbox" id="basic_checkbox_3">
														<label for="basic_checkbox_3"></label>
													</div>
													<a href="javascript:void(0);" class="favourite text-muted hidden-sm-down" data-toggle="active"><i class="zmdi zmdi-star-outline"></i></a>
												</div>
											</div>
											<div class="media-body">
												<div class="media-heading">
													<a href="mail-single.html" class="mr-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Velit a labore </font></font></a>
													<span class="badge bg-danger mb-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Google</font></font></span>
													<small class="float-right text-muted"><time class="hidden-sm-down" datetime="2017"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">上午12:35</font></font></time><i class="zmdi zmdi-attachment-alt ml-2"></i> </small>
												</div>
												<p class="msg"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 如果你打算使用Lorem Ipsum的一段，你需要确定</font></font></p>
											</div>
										</div>
									</li>
									<li class="list-group-item unread">
										<div class="media">
											<div class="pull-left">
												<div class="controls">
													<div class="checkbox">
														<input type="checkbox" id="basic_checkbox_4">
														<label for="basic_checkbox_4"></label>
													</div>
													<a href="javascript:void(0);" class="favourite text-muted hidden-sm-down" data-toggle="active"><i class="zmdi zmdi-star-outline"></i></a>
												</div>
											</div>
											<div class="media-body">
												<div class="media-heading">
													<a href="mail-single.html" class="mr-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">段落的变化</font></font></a>
													<span class="badge bg-warning mb-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Themeforest</font></font></span>
													<small class="float-right text-muted"><time class="hidden-sm-down" datetime="2017"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">上午12:35</font></font></time><i class="zmdi zmdi-attachment-alt ml-2"></i> </small>
												</div>
												<p class="msg"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem Ipsum的段落有许多变化，但大多数 </font></font></p>
											</div>
										</div>
									</li>
									<li class="list-group-item">
										<div class="media">
											<div class="pull-left">
												<div class="controls">
													<div class="checkbox">
														<input type="checkbox" id="basic_checkbox_5">
														<label for="basic_checkbox_5"></label>
													</div>
													<a href="javascript:void(0);" class="favourite text-muted hidden-sm-down" data-toggle="active"><i class="zmdi zmdi-star-outline"></i></a>
												</div>
											</div>
											<div class="media-body">
												<div class="media-heading">
													<a href="mail-single.html" class="mr-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">互联网上的发电机</font></font></a>
													<span class="badge bg-danger mb-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">工作</font></font></span>
													<small class="float-right text-muted"><time class="hidden-sm-down" datetime="2017"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">上午12:35</font></font></time><i class="zmdi zmdi-attachment-alt ml-2"></i> </small>
												</div>
												<p class="msg"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">LA上的Lorem Ipsum生成器倾向于根据需要重复预定义的块</font></font></p>
											</div>
										</div>
									</li>
									<li class="list-group-item">
										<div class="media">
											<div class="pull-left">
												<div class="controls">
													<div class="checkbox">
														<input type="checkbox" id="basic_checkbox_6">
														<label for="basic_checkbox_6"></label>
													</div>
													<a href="javascript:void(0);" class="favourite col-amber hidden-sm-down" data-toggle="active"><i class="zmdi zmdi-star"></i></a>
												</div>
											</div>
											<div class="media-body">
												<div class="media-heading">
													<a href="mail-single.html" class="mr-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">与流行的</font></font></a>
													<font style="vertical-align: inherit;"><span class="badge bg-warning mb-1"><font style="vertical-align: inherit;">Themeforest </font></span><a href="mail-single.html" class="mr-2"><font style="vertical-align: inherit;">相反</font></a></font><span class="badge bg-warning mb-1"><font style="vertical-align: inherit;"></font></span>
													<small class="float-right text-muted"><time class="hidden-sm-down" datetime="2017"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">上午12:35</font></font></time><i class="zmdi zmdi-attachment-alt ml-2"></i> </small>
												</div>
												<p class="msg"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">与流行的看法相反，Lorem Ipsum不仅仅是随机文本。</font><font style="vertical-align: inherit;">它源于经典之作</font></font></p>
											</div>
										</div>
									</li>
									<li class="list-group-item">
										<div class="media">
											<div class="pull-left">
												<div class="controls">
													<div class="checkbox">
														<input type="checkbox" id="basic_checkbox_7">
														<label for="basic_checkbox_7"></label>
													</div>
													<a href="javascript:void(0);" class="favourite col-amber hidden-sm-down" data-toggle="active"><i class="zmdi zmdi-star"></i></a>
												</div>
											</div>
											<div class="media-body">
												<div class="media-heading">
													<a href="mail-single.html" class="mr-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Velit </font></font></a>
													<span class="badge bg-success mb-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">劳动工作</font></font></span>
													<small class="float-right text-muted"><time class="hidden-sm-down" datetime="2017"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">上午12:35</font></font></time><i class="zmdi zmdi-attachment-alt ml-2"></i> </small>
												</div>
												<p class="msg"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem Ipsum简直就是印刷和排版行业的虚拟文本。 </font></font></p>
											</div>
										</div>
									</li>
									<li class="list-group-item">
										<div class="media">
											<div class="pull-left">
												<div class="controls">
													<div class="checkbox">
														<input type="checkbox" id="basic_checkbox_8" checked="">
														<label for="basic_checkbox_8"></label>
													</div>
													<a href="javascript:void(0);" class="favourite col-amber hidden-sm-down" data-toggle="active"><i class="zmdi zmdi-star"></i></a>
												</div>
											</div>
											<div class="media-body">
												<div class="media-heading">
													<a href="mail-single.html" class="mr-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">段落的变化</font></font></a>
													<span class="badge bg-primary mb-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Themeforest</font></font></span>
													<small class="float-right text-muted"><time class="hidden-sm-down" datetime="2017"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">上午12:35</font></font></time><i class="zmdi zmdi-attachment-alt ml-2"></i> </small>
												</div>
												<p class="msg"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem Ipsum的段落有许多变化，但大多数 </font></font></p>
											</div>
										</div>
									</li>
									<li class="list-group-item">
										<div class="media">
											<div class="pull-left">
												<div class="controls">
													<div class="checkbox">
														<input type="checkbox" id="basic_checkbox_9">
														<label for="basic_checkbox_9"></label>
													</div>
													<a href="javascript:void(0);" class="favourite text-muted hidden-sm-down" data-toggle="active"><i class="zmdi zmdi-star-outline "></i></a>
												</div>
											</div>
											<div class="media-body">
												<div class="media-heading">
													<a href="mail-single.html" class="mr-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">互联网上的发电机</font></font></a>
													<span class="badge bg-success mb-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">工作</font></font></span>
													<small class="float-right text-muted"><time class="hidden-sm-down" datetime="2017"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">上午12:35</font></font></time><i class="zmdi zmdi-attachment-alt ml-2"></i> </small>
												</div>
												<p class="msg"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">LA上的Lorem Ipsum生成器倾向于根据需要重复预定义的块</font></font></p>
											</div>
										</div>
									</li>
									<li class="list-group-item">
										<div class="media">
											<div class="pull-left">
												<div class="controls">
													<div class="checkbox">
														<input type="checkbox" id="basic_checkbox_10">
														<label for="basic_checkbox_10"></label>
													</div>
													<a href="javascript:void(0);" class="favourite text-muted hidden-sm-down" data-toggle="active"><i class="zmdi zmdi-star-outline "></i></a>
												</div>
											</div>
											<div class="media-body">
												<div class="media-heading">
													<a href="mail-single.html" class="mr-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Velit劳动</font></font></a>
													<span class="badge bg-info mb-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">家庭</font></font></span>
													<small class="float-right text-muted"><time class="hidden-sm-down" datetime="2017"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">上午12:35</font></font></time><i class="zmdi zmdi-attachment-alt ml-2"></i> </small>
												</div>
												<p class="msg"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem Ipsum简直就是印刷和排版行业的虚拟文本。 </font></font></p>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
					
				<footer class="main-footer">
					<div class="text-center">
						Copyright &copy;Kharna-Admin 2018. Design By<a href="https://spruko.com/"> Spruko</a>
					</div>
				</footer>

			</div>
		</div>

		<!--Jquery.min js-->
		<script src="/static/assets/js/jquery.min.js"></script>

		<!--popper js-->
		<script src="/static/assets/js/popper.js"></script>

		<!--Tooltip js-->
		<script src="/static/assets/js/tooltip.js"></script>

		<!--Bootstrap.min js-->
		<script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

		<!--Jquery.nicescroll.min js-->
		<script src="/static/assets/plugins/nicescroll/jquery.nicescroll.min.js"></script>

		<!--Scroll-up-bar.min js-->
		<script src="/static/assets/plugins/scroll-up-bar/dist/scroll-up-bar.min.js"></script>

		<!--mCustomScrollbar js-->
		<script src="/static/assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

		<!--Sidemenu js-->
		<script src="/static/assets/plugins/toggle-menu/sidemenu.js"></script>

		<!--Scripts js-->
		<script src="/static/assets/js/scripts.js"></script>

	</body>
</html>