<!DOCTYPE html>
<html lang="en">
	{% include "head2.html" %}
	<body class="app ">

		<div id="spinner"></div>

		<div id="app">
			<div class="main-wrapper" >
				{% include "extraBar.html" %}
				{% include "sideBar.html" %}
				<div class="app-content">
					<div class="section">
                    	<ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Empty page</li>
                        </ol>
						<div class="row">
							<div class="col-md-12">
								<div class="card">
									<div class="card-body">
										your text here
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<footer class="main-footer">
					<div class="text-center">
						Copyright &copy;Kharna-Admin 2018. Design By<a href="https://spruko.com/"> Spruko</a>
					</div>
				</footer>

			</div>
		</div>

		<!--Jquery.min js-->
		<script src="/static/assets/js/jquery.min.js"></script>

		<!--popper js-->
		<script src="/static/assets/js/popper.js"></script>

		<!--Tooltip js-->
		<script src="/static/assets/js/tooltip.js"></script>

		<!--Bootstrap.min js-->
		<script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

		<!--Jquery.nicescroll.min js-->
		<script src="/static/assets/plugins/nicescroll/jquery.nicescroll.min.js"></script>

		<!--Scroll-up-bar.min js-->
		<script src="/static/assets/plugins/scroll-up-bar/dist/scroll-up-bar.min.js"></script>

		<!--mCustomScrollbar js-->
		<script src="/static/assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

		<!--Sidemenu js-->
		<script src="/static/assets/plugins/toggle-menu/sidemenu.js"></script>

		<!--Scripts js-->
		<script src="/static/assets/js/scripts.js"></script>

	</body>
</html>