<html class="js sizes customelements history pointerevents postmessage webgl websockets cssanimations csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside flexbox picture srcset webworkers translated-ltr" lang="zh-CN">
{% include "head.html" %}
<body>
        {% include "newBar.html" %}
        <!-- Breacrumb Area -->
        <div class="breadcrumb-area" data-black-overlay="2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                        <div class="cr-breadcrumb text-center">
                            <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">关于我们</font></font></h1>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">小投入成就大梦想保险成立于2019年6月14日。随着科技的不断进步，为迅速发展经济，便利人们的日常生活，成立了全国统一的保险机构——小投入成就大梦想公司。公司初期的人身保险业务有强制保险和自愿保险两大类，强制保险主要是铁路、轮船、飞机旅客意外伤害保险，自愿保险则分为职工团体人身保险和简易人身保险两类。简易人身保险主要为适合于被保年龄1-18岁的儿童教育险。</font></font></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <main class="page-content">
            <section class="services-area pt-130 pb-100 bg-grey">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-10 col-12 offset-0">
                            <div class="section-title text-left">
                                <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">我们的</font></font><span class="secondary-theme-color"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">产品</font></font></span> </h2>
{#                                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">针对于21世纪新的经济环境下，在保险业务方面，我们公司提供众多保险业务，包括车险，医保，养老保险以及最热门的教育险等，在未来我们公司将逐渐推出股票证券等扩展服务；您也可点击下方服务具体查看，产品介绍，企业融资，公司简介，最热投保趋势等业务。</font></font></p>#}
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">

                        <!-- Signle Service -->
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="service service-style-2 text-center">
                                <div class="service-thumb">
                                    <a href="services.html">
                                        <img src="/static/11.jpg" alt="1">
                                    </a>
                                </div>
                                <div class="service-content">
                                    <div class="service-content-inner text-center">

                                        <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font><a href="/services/?productID=1"> "宝贝教育金计划"</a> </h6>
                                         <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">小投入成就大梦想。</font></font></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="service service-style-2 text-center mb--30">
                                <div class="service-thumb">
                                    <a href="about-us.html"><img src="/static/22.jpg" alt="组合拇指"></a>

                                </div>
                                <div class="service-content">
                                    <div class="service-content-inner text-center">
                                        <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font><a href="/services/?productID=2"> "“一元任我行”交通工具意外险"</a> </h6>
                                       <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">为您提供因搭乘飞机、火车、汽车、轮船等指定交通工具时的意外伤害身故和伤残保障。</font></font></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--// Signle Service -->

                        <!-- Signle Service -->
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="service service-style-2 text-center mb--30">
                                <div class="service-thumb">
                                    <a href="#"><img src="/static/33.jpg" alt="组合拇指"></a>

                                </div>
                                <div class="service-content">
                                    <div class="service-content-inner text-center">
                                        <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font><a href="/services/?productID=3"> "如E国内旅游保"</a> </h6>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">如E国内旅游保提供国内旅游期间的意外伤害身故/伤残保障，意外伤害医疗/急性病医疗保障以及丧葬责任保障。</font></font></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--// Signle Service -->

                        <!-- Signle Service -->
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="service service-style-2 text-center mb--30">
                                <div class="service-thumb">
                                    <a href="#"><img src="/static/44.jpg" alt="组合拇指"></a>

                                </div>
                                <div class="service-content">
                                    <div class="service-content-inner text-center">
                                        <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font><a href="/services/?productID=4"> "如E私家车意外保险计划"</a> </h6>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">如E私家车意外保险计划为被保险人提供驾驶或搭乘私家车时的意外伤害身故、意外伤害伤残、意外伤害Ⅲ度烧伤及意外伤害医疗保障。</font></font></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--// Signle Service -->

                                                <!-- Signle Service -->
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="service service-style-2 text-center mb--30">
                                <div class="service-thumb">
                                    <a href="#"><img src="/static/55.jpg" alt="组合拇指"></a>

                                </div>
                                <div class="service-content">
                                    <div class="service-content-inner text-center">
                                        <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font><a href="/services/?productID=5"> "如E航空保"</a> </h6>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">如E航空保为被保险人提供搭乘飞机时的意外伤害身故、意外伤害伤残及意外伤害Ⅲ度烧伤保障。</font></font></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--// Signle Service -->

                                                <!-- Signle Service -->
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="service service-style-2 text-center mb--30">
                                <div class="service-thumb">
                                    <a href="#"><img src="/static/66.jpg" alt="组合拇指"></a>

                                </div>
                                <div class="service-content">
                                    <div class="service-content-inner text-center">
                                        <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font><a href="/services/?productID=6"> "如E贝贝（尊享版）少儿保险产品计划"</a> </h6>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">如E贝贝（尊享版）少儿保险产品计划提供46种少儿疾病保障、身故保障及满期给付。</font></font></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--// Signle Service -->

                                                <!-- Signle Service -->
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="service service-style-2 text-center mb--30">
                                <div class="service-thumb">
                                    <a href="#"><img src="/static/77.jpg" alt="组合拇指"></a>

                                </div>
                                <div class="service-content">
                                    <div class="service-content-inner text-center">
                                        <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font><a href="/services/?productID=7"> "如E家庭财产保险计划"</a> </h6>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">如E家庭财产保险计划为您的房屋主体及室内财产损失提供全方位保障。</font></font></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--// Signle Service -->

                        <!-- Signle Service -->
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="service service-style-2 text-center mb--30">
                                <div class="service-thumb">
                                    <a href="#"><img src="/static/88.jpg" alt="组合拇指"></a>

                                </div>
                                <div class="service-content">
                                    <div class="service-content-inner text-center">
                                        <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font><a href="/services/?productID=8"> "如E家庭财产火灾、爆炸保险计划"</a> </h6>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">如E家庭财产火灾、爆炸保险计划为您的房屋主体及室内财产损失提供火灾、爆炸专属保障。</font></font></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--// Signle Service -->

                        <!-- Signle Service -->
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="service service-style-2 text-center mb--30">
                                <div class="service-thumb">
                                    <a href="login.html"><img src="/static/99.jpg" alt="组合拇指"></a>

                                </div>
                                <div class="service-content">
                                    <div class="service-content-inner text-center">
                                        <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font><a href="/services/?productID=8"> "家居组合险"</a> </h6>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">家居组合险为您的房屋家庭财产损失、相关责任及人身意外伤害提供全方位保障。</font></font></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--// Signle Service -->

                    </div>
                </div>
            </section>
</main>
</body>
</html>