<!DOCTYPE html>
<html lang="zh-cn">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
         <title>保险</title>
<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/vnd.microsoft.icon" />
<meta name="description" content="保险" />
<meta name="keywords" content="保险" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta name="applicable-device" content="pc">
<meta name="mobile-agent" content="zabb.html">
<link rel="stylesheet" type="text/css" href="/static/css/product/ui_base.css" />
<link rel="stylesheet" type="text/css" href="/static/css/product/ui_comm.css" />
<script type="text/javascript" src="/static/js/product/jquery-1.9.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/product/list.css" />
<script type="text/javascript" src="/static/js/product/webtrends.js"></script>

<meta name="applicable-device" content="pc">
<script type="text/javascript" src="/static/js/product/m.js"></script>
<script type="text/javascript">browserRedirect("zabb.html");</script>
<link rel="alternate" media="only screen and(max-width: 640px)" href="zabb.html">

</head>
<body>
<div class="product-detail">
<div id="page" class="clearfix">
 <script type='text/javascript'>
        var _vds = _vds || [];
        window._vds = _vds;
        (function(){
            _vds.push(['setAccountId', '9aba2c231a4dd2df']);
            (function() {
                var vds = document.createElement('script');
                vds.type='text/javascript';
                vds.async = true;
                vds.src = '/static/js/product/vds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(vds, s);
            })();
        })();
    </script>
<!-- HEADER END -->

		<!--main 在这里写入代码 START-->
        {% include "head.html" %}
        {% include "newBar.html" %}
        <div class="breadcrumb-area" data-black-overlay="2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                        <div class="cr-breadcrumb text-center">
                            <h1>{{ services_name }}</h1>
                            <p>{{ descirbe }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--// Breacrumb Area -->
		<link rel="stylesheet" type="text/css" href="/static/css/product/select2.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/product/style.css">
		<div class="act-page">
            
			<!--6大特色  多重守护-->
			<div class="floor pro" id="anchor">
				<h2 class="m-bt">6大特色  多重守护</h2>
				<div class="boxmain-inner">
					<div class="pro-l fl">
						<ul class="pro-ul clearfix">
							<li class="pro-li">
								<img class="pro-img" src="/static/images/img01.png" />
								<h3>教育年金，专款专用</h3>
								<p>领钱早，15岁起开始领钱，连续11年固定领取，教育深造<br />婚嫁，皆有保障。</p>
							</li>
							<li class="pro-li"><img class="pro-img" src="/static/images/img02.png" />
								<h3>重大疾病，百万保障</h3>
								<p>保85种重疾，其中白血病、川崎病、深度昏迷、严重脑损伤、<br />严重Ⅲ度烧伤等5种特定重大疾病双倍赔付，最高100万。</p>
							</li>
							<li class="pro-li"><img class="pro-img" src="/static/images/img03.png" />
								<h3>住院津贴，贴心呵护</h3>
								<p>最高300元/天，补贴天数最多可达600天。社保报销之后还能<br />领取。</p>
							</li>
							<li class="pro-li"><img class="pro-img" src="/static/images/img04.png" />
								<h3>意外医疗，保障更全</h3>
								<p>附加长期意外医疗，门诊&住院都能赔。保险期间内累计可赔<br />付10倍保额，累计最高20万。 </p>
							</li>
								<li class="pro-li"><img class="pro-img" src="/static/images/img05.png" />
								<h3>豁免保费，延续关爱</h3>
								<p>如果投保人在等待期后（意外伤害无等待期限制）不幸身故或<br />罹患重疾，可免交后继保费，人性设计更显关爱。</p>
							</li>
							<li class="pro-li"><img class="pro-img" src="/static/images/img06.png" />
								<h3>灵活定制，性价比高</h3>
								<p>交费年限灵活选择；重疾、住院、意外医疗、定寿、豁免等<br />附加保障可按需自由搭配。</p>
							</li>
						</ul>
					</div>

					<div class="card">
						<div class="card-header">
							<h4>{{ answer }}</h4>
						</div>
						<div class="card-body">
							<form class="form-horizontal" action = "" method="post">
								{% csrf_token %}
								<div class="form-group row">
									<label class="col-md-3 col-form-label">姓名</label>
									<div class="col-md-9">
										<input class="form-control" type="text" value="" name = "name">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-md-3 col-form-label">身份证</label>
									<div class="col-md-9">
										<input class="form-control" type="text" value="" name = "recognizee_ID">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-md-3 col-form-label">出生日期</label>
									<div class="col-md-9">
										<input name="date" class="form-control" type="date" name = "age">
									</div>
								</div>
								<div class="form-group row mb-0">
									<label class="col-md-3 col-form-label">交费方式</label>
									<div class="col-md-9">
										<select class="form-control" name = "approach">
											<option>单次</option>
											<option>周交</option>
											<option>月交</option>
											<option>年交</option>
										</select>
									</div>
								</div>
								<br>
								<div class="form-group row mb-0">
									<label class="col-md-3 col-form-label">年龄</label>
									<div class="col-md-9">
										<input name="number" class="form-control" type="number">
									</div>
								</div>
								<br>
								<div class="form-group row mb-0">
									<label class="col-md-3 col-form-label">支付金额</label>
									<div class="col-md-9">
										<input name="number" class="form-control" type="number">
									</div>
								</div>
								<br>
								<input type="hidden" name="productID" value = "{{productID}}">
								<input class="btn btn-warning m-b-5 m-t-5" type="submit" name="measure" value="保费测算">
								<input class="btn btn-danger m-b-5 m-t-5" type="submit" name="buy" value="购买订单">
							</form>
						</div>
					</div>
				</div>
			</div>

			<!--尊享增值服务 · 医疗咨询热线 -->
			<div class="trump">
				<h2 class="m-bt">尊享增值服务<span class="dit">&nbsp;</span>医疗咨询热线</h2>
				<p class="f-bt">由招商信诺专属健康管理团队打造，服务贯穿整个保障期。
				</p>
				<div class="boxmain-inner">
					<ul class="trump-ul clearfix">
						<li class="trump-li">
							<div class="item">
								<img src="/static/images/icon01.png" />
								<h3>就诊科室推荐</h3>
								<p>三甲医院背景医生为您病情预判，<br /> 推荐就诊医院及科室</p>
							</div>
						</li>
						<li class="trump-li">
							<div class="item">
								<img src="/static/images/icon02.png" />
								<h3>小病小痛不用上医院排队</h3>
								<p>专家为您提供饮食养生、运动、疾病<br /> 预防等日常健康咨询</p>
							</div>
						</li>
						<li class="trump-li last">
							<div class="item">
								<img src="/static/images/icon03.png" />
								<h3>紧急情况处理指导</h3>
								<p>当遭遇紧急情况（如外伤、高热、<br /> 被犬咬伤等），我们第一时间给予<br /> 专业建议与处理指导</p>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<!--投保须知-->
			<div class="floor instructions">
				<h2 class="m-bt">投保须知</h2>
				<div class="boxmain-inner">
					<ul class="clearfix">
						<li><span>投保人年龄</span>{{age_range}}</li>
						<li><span>被保人年龄</span>{{recognizee_age_range}}</li>
						<li><span>保障金额</span>最低1万元</li>
						<li><span>保障期限</span>{{date}}</li>
						<li><span>交费年限</span>3年/5年/10年</li>
						<li><span>交费方式</span>年交/半年交/季交/月交</li>
					</ul>
					<dl>
						<dt><p>产品名称：{{product_name }}</p></dt>
						<dd>
							<p>投保地区：<span id="fname">{{ product_des }}</span></p>
						</dd>
					</dl>
				</div>
			<!--ifooterbj end-->
			</div>
		</div>
		<!-- 广告 -->
		<div style="margin: 0px auto; width: 980px; padding: 20px 0px;"><img alt="春日送暖预约咨询教育金送绘本" src="https://www.cignacmb.com/d/file/20190315/55562dcbdcc6bac01956f380819f1658.jpg"></div>
		<div style="margin: 0px auto; width: 980px; padding: 20px 0px;"><img alt="预约咨询教育金送书包" src="/static/images/27ed6e896edca63d7759e8b6727b1d08.jpg"></div>
		<!-- end 广告 -->
	</div>
	<div id="cacheboostid"></div>
    <!-- JS Files -->
<script src="js/vendor/jquery-3.2.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/active.js"></script>
<script src="js/scripts.js"></script>
<script type="text/javascript" src="/static/js/product/common2.js"></script><!--控制头部菜单下拉的，勿删-->
<script type="text/javascript" src="/static/js/product/md5.js"></script>
<script type="text/javascript" src="/static/js/product/live800.js"></script>
<script type="text/javascript" src="/static/js/product/common.js"></script>
<script src="/static/js/product/CountGW_pc.js"></script>
</div>
</div>
</body>
</html>