<aside class="app-sidebar">
	<div class="app-sidebar__user">
	    <div class="dropdown">
			<a class="nav-link pl-2 pr-2 leading-none d-flex" data-toggle="dropdown" href="#">
				<img alt="image" src="/static/assets/img/avatar/avatar-1.jpeg.jpg" class=" avatar-md rounded-circle">
				<span class="ml-2 d-lg-block">
					<span class="text-white app-sidebar__user-name mt-5">{{request.session.user_name}}</span><br>
					<span class="text-muted app-sidebar__user-name text-sm">
						{% ifequal request.session.power "1" %}
							管理员
						{% else %}
							普通用户
						{% endifequal %}
					</span>
				</span>
			</a>
		</div>
	</div>
	<ul class="side-menu">
		<li class="slide">
			<a class="side-menu__item"  href="/manager"><i class="side-menu__icon fa fa-desktop"></i><span class="side-menu__label">个人信息</span></a>
		</li>
		<li>
			<a class="side-menu__item" href="/compensate.html"><i class="side-menu__icon fa fa-flask"></i><span class="side-menu__label">理赔</span></a>
		</li>
		<li class="slide is-expanded">
			<a class="side-menu__item" href="/inform.html" data-toggle="slide"><i class="side-menu__icon fa fa-file-text"></i><span class="side-menu__label">消息</span><i class="angle fa fa-angle-right"></i></a>
			<ul class="slide-menu">
				<li><a class="slide-item" href="inform.html"> 全部显示</a></li>
				<li><a class="slide-item" href="inform.html/?method=1"> 已读</a></li>
				<li><a class="slide-item" href="inform.html/?method=0"> 未读</a></li>
			</ul>
		</li>
		<li class="slide">
		    <a class="side-menu__item" href="/mytable.html"><i class="side-menu__icon fa fa-paw"></i><span class="side-menu__label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">我的保单</font></font></span></a>
		</li>
		<li class="slide">
			<a class="side-menu__item" href="/mytrade.html"><i class="side-menu__icon fa fa-pie-chart"></i><span class="side-menu__label">交易记录</span></a>
		</li>
		<li class="slide">
			<a class="side-menu__item" href="relationship.html"><i class="side-menu__icon fa fa-bar-chart"></i><span class="side-menu__label"><font style="vertical-align: inherit;">通讯录</font></span></a>
		</li>
		{% ifequal request.session.power "1" %}
			<li class="slide">
				<a class="side-menu__item" href="/admin"><i class="side-menu__icon fa fa-tasks"></i><span class="side-menu__label">管理员模式</span></a>
			</li>
		{% else%}
			<li class="slide">
				<a class="side-menu__item" href="/complain.html"><i class="side-menu__icon fa fa-tasks"></i><span class="side-menu__label">投诉</span></a>
			</li>
		{% endifequal %}
	</ul>
</aside>