<html>
<style>.shouquan-html{ color:#777;}.shouquan-html .check-shouquan{ vertical-align:middle;margin-right:4px;}.shouquan-html a.btn-shouquan{ color:#3aaaf8;margin-left:4px;}body .layui-shouquan{font-family:'FAE8F6F96C59ED1';}body .layui-shouquan .layui-layer-content{padding:30px}body .layui-shouquan .layui-layer-title{font-size:16px;}body .layui-shouquan .layui-layer-content p{font-size:14px; color: #555;}</style>
<div class="floor Process2">
				<div class="boxmain-inner">
					<h2 class="m-bt">理赔流程</h2>
					<ul class="process2-ul">
						<li><strong>理赔报案</strong>
							<p>保险事故发生后10日内拨打客服热线95362报案并获取《索赔申请书》，并提供相关证明和资料原件</p>
						</li>
						<li><strong>准备理赔资料</strong>
							<p>请您完整填写和亲笔签署《索赔申请书》</p>
						</li>
						<li><strong>提交索赔申请</strong>
							<p>拨打客服热线95362提交索赔申请</p>
						</li>
						<li><strong>理赔核定</strong>
							<p>我们收到您的索赔资料后将及时登记，并核实您的理赔资料</p>
						</li>
						<li class="no"><strong>理赔给付</strong>
							<p>如果您的索赔申请经核定可以获得赔付，我们将会在3个工作日内把保险金汇入您指定的银行账户。</p>
						</li>
					</ul>
					<p class="receive">教育金领取：教育金产生后，您可在我司官方APP“完美人生”或我司官方微信公众号“招商信诺在线”点击【保单管理】-【领取生存类保险金】自助申领。</p>
				</div>
			</div>
</html>