<!DOCTYPE html>
<html lang="zh-cn">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
         <title>珍爱宝贝教育年金保障计划_儿童教育金保险-招商信诺-招商信诺</title>
<link rel="shortcut icon" href="https://www.cignacmb.com/sites/default/themes/cigna_cmc/favicon.ico" type="image/vnd.microsoft.icon" />
<meta name="description" content="儿童保险怎么选?招商信诺珍爱宝贝教育年金保险产品计划,连续11年领取教育金,重疾保障最高100万,最高600天住院津贴,一张保单,六重保障." />
<meta name="keywords" content="教育金,儿童保险,儿童重疾,少儿保险,儿童,小孩,意外,住院,珍爱宝贝" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta name="applicable-device" content="pc">
<meta name="mobile-agent" content="format=html5;url=https://m.cignacmb.com/insurance/zabb.html">
<link rel="stylesheet" type="text/css" href="https://www.cignacmb.com/public/css/ui_base.css" />
<link rel="stylesheet" type="text/css" href="https://www.cignacmb.com/public/css/ui_comm.css" />
<script type="text/javascript" src="https://www.cignacmb.com/public/js/jquery-1.9.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://www.cignacmb.com/public/css/search/list.css" />
<script type="text/javascript" src="https://www.cignacmb.com/public/js/webtrends.js"></script>

<meta name="applicable-device" content="pc">
<script type="text/javascript" src="https://www.cignacmb.com/js/m.js"></script>
<script type="text/javascript">browserRedirect("https://m.cignacmb.com/insurance/zabb.html");</script>
<link rel="alternate" media="only screen and(max-width: 640px)" href="https://m.cignacmb.com/insurance/zabb.html">

</head>
<body>
<div class="product-detail">
<div id="page" class="clearfix">
 <script type='text/javascript'>
        var _vds = _vds || [];
        window._vds = _vds;
        (function(){
            _vds.push(['setAccountId', '9aba2c231a4dd2df']);
            (function() {
                var vds = document.createElement('script');
                vds.type='text/javascript';
                vds.async = true;
                vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'assets.growingio.com/vds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(vds, s);
            })();
        })();

    </script>
<div class="cc-topbanner">
            <div class="grid-inner">
              <!-- <p  class="top-notify">尊敬的客户：因系统升级，在此期间暂停电话语音自助查询服务。您可通过我司官方APP完美人生或登录官网会员中心自助办理保单业务，感谢您的理解。</p>-->
                 <!--<p class="top-notify">公司将于9月30号17:30至10月7号24:00进行系统升级，在此期间暂停语音自助查询、电话人工和在线人工服务。您可以下载<a href="https://www.cignacmb.com/hmsapp/index.html" target="_blank">官方APP完美人生</a>或<a href="
https://member.cignacmb.com/" target="_blank">登录会员中心</a>自助办理保单业务，感谢您的理解。</p>-->
                 <i class="close-banner">×</i>
            </div>
      </div>

     <!--div class="cc-topbanner">
        <div class="grid-inner">
            <a href="javascript:;" class="top-banner" style="background:url(/d/file/20180930/5f85f9f2629637f09742d7332f8ce2b3.jpg) no-repeat;"></a>
            <i class="close-banner">×</i>
        </div>
      </div-->

<!--cc-toolbar begin-->
<div class="cc-toolbar">
    <div class="grid-inner clearfix">
        <div class="toolbar-l">
            <ul class="clearfix">
                <!--<li class="toolbar-li phone"> <a class="toolbar-a"  rel="nofollow" href="https://www.cignacmb.com/mobile.html" target="_blank" title="手机版"><i></i><span>手机版</span><b></b></a>
                    <div class="show-box"> <img src="https://www.cignacmb.com/public/images/index/ewm_phone.jpg" alt="手机版" />
                        <p>扫描二维码访问</p>
                    </div>
                </li>-->
                <li class="toolbar-li weixin"> <a class="toolbar-a"  rel="nofollow" href="https://www.cignacmb.com/mobile.html" target="_blank" title="微信号"><i></i><span>微信号</span><b></b></a>
                    <div class="show-box"> <img src="https://www.cignacmb.com/public/images/index/ewm_weixin.jpg" alt="微信号" />
                        <p>扫描二维码关注</p>
                    </div>
                </li>
                <li class="toolbar-li app">
                    <a class="toolbar-a" href="https://www.cignacmb.com/hmsapp/index.html" target="_blank" title="官方APP" rel="nofollow"><i></i><span>官方APP</span><b></b></a>
                    <div class="show-box">
                        <img src="https://www.cignacmb.com/public/images/index/ewm_app.png" alt="官方APP" />
                        <p>扫描二维码下载</p>
                    </div>
                </li>
                <li class="weibo"> <a class="toolbar-a"  rel="nofollow" href="http://weibo.com/u/3546314801" target="_blank" title="新浪微博"><i></i><span>新浪微博</span></a> </li>
                <li class="toolbar-li xxpl"> <a class="toolbar-a" href="https://www.cignacmb.com/xinxi/jibenxinxi/gaikuang.html" rel="nofollow" target="_blank" title="信息披露"><span>信息披露</span><b></b></a>
                    <div class="show-box">
                        <ul>
                            <li><a rel="nofollow"  target="_blank"  href="https://www.cignacmb.com/xinxi/jibenxinxi/gaikuang.html" title="公开信息披露">公开信息披露</a></li>
                            <li><a rel="nofollow"  target="_blank" href="https://www.cignacmb.com/tmxinxi/" title="电销信息披露专栏">电销信息披露专栏</a></li>
                            <li><a rel="nofollow" target="_blank"  href="https://www.cignacmb.com/webxinxi/baoxianxinxi/xinxipilou.html" title="互联网保险信息披露专栏">互联网保险信息披露专栏</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="toolbar-r">
            <ul class="clearfix">
                <li class="sale-hotline">销售热线<i>400-880-3633</i></li>
                <li class="sale-hotline">服务热线<i>95362</i></li>
                <li><a href="https://www.cignacmb.com/map/"  target="_blank" style="color: #555;">银行合作网点查询</a></li>
            </ul>
        </div>
    </div>
</div>
<!--cc-toolbar end-->

<!--cc-header begin-->
<div class="cc-header">
    <div class="grid-inner clearfix">
        <div class="header-logo"> <a href="https://www.cignacmb.com/" title="招商信诺人寿保险有限公司">
                <img class="logo-img" src="https://www.cignacmb.com/sites/default/themes/cigna_cmc/cignacmb/images/cignacmb_logo.png" alt="招商信诺人寿保险有限公司" /> </a>
            <img class="logo_second" src="https://www.cignacmb.com/public/images/index/cignacmb_logo_second.png" alt="招商信诺人寿保险有限公司" /> </div>
                <div class="header-search">
            <div class="search-box">
                     <form action="/e/sch/index.php">
        <div class="search-text"> <span class="text-placeholder">请输入您要搜索的产品名称</span>
          <input class="text" type="text" value="" placeholder='请输入您要搜索的产品名称' id="searchkey" name="keyboard"  />
            <select name="field" id="field" style="display:none">
                      <option value="1">全文</option>
                      <option value="2">标题</option>
                      <option value="3">内容</option>
            </select>
        </div>
        <button class="search-button"  type="submit"><i></i></button>
        </form>
              <script>
         $("#search-button").click(function(){
            if($("#searchKey").val()!=''){
                window.location.href =window.location.protocol+ '//'+location.host+"/search/"+$("#searchKey").val()+'.html';
            }
        })//for test nothing
    $('#searchKey').keydown(function(event){if(13==event.keyCode||13==event.which){
        if($("#searchKey").val()!=''){
            window.location.href =window.location.protocol+ '//'+location.host+"/search/"+$("#searchKey").val() +'.html';
        }
    }
    });
           </script>
            </div>
        </div>
        <div class="header-user">
            <div class="user-person"> <span class="user-btn"><a onClick="_gsTracker.trackEvent('首页','会员中心','个人中心');" href="https://member.cignacmb.com/?sctj_track=pcgrzx"  rel="nofollow" title="个人中心"><i></i>个人中心</a></span>
                <ul class="user-list">
                    <li><a onClick="_gsTracker.trackEvent('首页','会员中心','个人中心理赔服务');"  rel="nofollow"  target="_blank"  href="https://member.cignacmb.com/login.xhtml?sctj_track=pckhlipei" title="理赔服务">理赔服务</a></li>
                    <li><a onClick="_gsTracker.trackEvent('首页','会员中心','个人中心保单查询');"  rel="nofollow" target="_blank"   href="https://member.cignacmb.com/pc-member/login.xhtml?sctj_track=pcgrzxbd" title="保单查询">保单查询</a></li>
                    <li><a onClick="_gsTracker.trackEvent('首页','会员中心','个人中心订单查询');"  rel="nofollow" target="_blank" href="https://member.cignacmb.com/pc-member/login.xhtml?sctj_track=pcgrzxdd" title="订单查询">订单查询</a></li>
                    <li><a onClick="_gsTracker.trackEvent('首页','会员中心','个人中心会员权益');"  rel="nofollow" target="_blank" href="https://member.cignacmb.com/pc-member/login.xhtml?sctj_track=pcgrzxmm" title="会员权益">会员权益</a></li>
                </ul>
            </div>
            <div class="user-state user-no"><!--未登录-->
                <span>请</span> <a onClick="_gsTracker.trackEvent('首页','会员中心','登录');" class="login-link"  rel="nofollow" target="_blank" href="https://member.cignacmb.com/login.xhtml?sctj_track=pcdenglu" title="登录">登录</a> <span>或者</span> <a onClick="_gsTracker.trackEvent('首页','会员中心','免费注册');" class="register-link"  rel="nofollow" target="_blank" href="https://member.cignacmb.com/register.xhtml?sctj_track=pczhuce" title="免费注册">免费注册</a> </div>
            <div class="user-state user-ok" style="display:none;"><!--已登录-->
                <span title="">你好，</span> <a class="user-name"  rel="nofollow"  target="_blank" href="https://member.cignacmb.com/" title="招商信诺人寿保险">招商信诺人寿保险</a> <a class="exit-link"  rel="nofollow"  href="https://member.cignacmb.com/logout.xhtml" title="退出">退出</a> </div>
            <script type="text/javascript">
                function subString(str, len, hasDot)
                {
                    var newLength = 0;
                    var newStr = "";
                    var chineseRegex = /[^x00-xff]/g;
                    var singleChar = "";
                    var strLength = str.replace(chineseRegex,"**").length;
                    for(var i = 0;i < strLength;i++)
                    {
                        singleChar = str.charAt(i).toString();
                        if(singleChar.match(chineseRegex) != null)
                        {
                            newLength += 2;
                        }
                        else
                        {
                            newLength++;
                        }
                        if(newLength > len)
                        {
                            break;
                        }
                        newStr += singleChar;
                    }

                    if(hasDot && strLength > len)
                    {
                        newStr += "...";
                    }
                    return newStr;
                }
                $(function() {
                    var UN=decodeURIComponent(escape(getCook('UN')));
                    if(UN.length>0){
                        $(".user-no").hide();
                        $(".user-name").attr('title',UN);

                        UN = subString(UN,8,true);

                        $(".user-name").text(UN);

                        $(".user-ok").show();
                    }

                })
            </script>
        </div>
    </div>
</div>
<!--cc-header end-->

<input type="hidden" name="menu_link" value="insurance" />

<div class="region region-headermenu">
    <div id="block-block-144" class="block block-block">
        <div class="">
            <!--cc-nav begin-->
            <div class="cc-nav">
                <div class="grid-inner">
                    <ul class="clearfix">
                        <li class="slide-nav"> <span class="slide-nav-btn"><a href="https://www.cignacmb.com/insurance/" onclick="_gsTracker.trackEvent('首页','左侧导航','全部保险产品');" title="全部保险产品"><i></i>全部保险产品</a></span>
                            <div class="slide-nav-main" style="display: none;">
                                <div class="nav-mod-bd">
                                    <div class="category-li">
                                        <div class="category-li-item category-borderbottom"> <a onclick="_gsTracker.trackEvent('首页','左侧导航','健康保险');" href="https://www.cignacmb.com/insurance/jiankang/" class="category-item"><i class="icon-cate-jkyl"></i>健康保险</a>
                                            <div class="category-main" style="display: none;">
                                                <dl class="category-main-dl">
                                                    <dt><strong>健康保险</strong></dt>
                                                    <dd><a onclick="_gsTracker.trackEvent('首页','左侧导航','安享康健2018重疾保障');" href="https://www.cignacmb.com/insurance/zhongjixiandd7.html" target="_blank" title="安享康健2018重疾保障" otype="navigation" otitle="Psn000013" oarea="左侧导航菜单-健康保险"><strong>安享康健2018重疾保障 <i class="icon-hot"></i></strong> <span>最高赔付116万，全新升级第7代</span> </a> </dd>

                                                    <dd><a onclick="_gsTracker.trackEvent('首页','左侧导航','悦享康健重疾保障');" href="https://www.cignacmb.com/insurance/dd6.html" target="_blank" title="悦享康健重疾保障" otype="navigation" otitle="Psn000013" oarea="左侧导航菜单-健康保险"><strong>悦享康健重疾保障</strong> <span>130种疾病+最高赔付76.8万+最长保至100岁</span> </a> </dd>
                    
                                                    <dd><a onclick="_gsTracker.trackEvent('首页','左侧导航','新乐康无忧住院津贴');" href="https://www.cignacmb.com/insurance/zhuyuanxianlk.html" target="_blank" title="新乐康无忧住院津贴" otype="navigation" otitle="Psn000013" oarea="左侧导航菜单-健康保险"><strong>新乐康无忧住院津贴</strong> <span>大小住院手术都能补贴，拿完津贴还能返保费</span> </a> </dd>
                                                    <dd><a onclick="_gsTracker.trackEvent('首页','左侧导航','老友安心防癌保险');" href="https://www.cignacmb.com/insurance/laoyouanxin.html" target="_blank" title="老友安心防癌保险" otype="navigation" otitle="Psn000013" oarea="左侧导航菜单-健康保险"><strong>老友安心防癌保险</strong> <span>45-70岁专享，最高40万癌症关爱</span> </a> </dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="category-li">
                                        <div class="category-li-item category-borderbottom"> <a onclick="_gsTracker.trackEvent('首页','左侧导航','儿童保险');" href="https://www.cignacmb.com/insurance/shaoer/" class="category-item"><i class="icon-cate-sebx"></i>儿童保险</a>
                                            <div class="category-main" style="display: none;">
                                                <dl class="category-main-dl">
                                                    <dt><strong>儿童保险</strong></dt>
                                                    <dd><a onclick="_gsTracker.trackEvent('首页','左侧导航','珍爱宝贝教育年金');" href="https://www.cignacmb.com/insurance/zabb.html" target="_blank" title="珍爱宝贝教育年金" otype="navigation" otitle="Psn000006" oarea="左侧导航菜单-珍爱宝贝教育年金"><strong>珍爱宝贝教育年金 <i class="icon-new"></i></strong> <span>连续11年领教育金 特定重疾双倍赔付</span> </a> </dd>
                                                    <dd><a onclick="_gsTracker.trackEvent('首页','左侧导航','宝贝启航2018综合保障');" href="https://www.cignacmb.com/insurance/jiaoyujin2018.html" target="_blank" title="宝贝启航2018综合保障" otype="navigation" otitle="Psn000006" oarea="左侧导航菜单-少儿保险"><strong>宝贝启航2018综合保障 <i class="icon-hot"></i></strong> <span>教育金+重疾+住院+意外医疗</span> </a> </dd>
						    <dd><a onclick="_gsTracker.trackEvent('首页','左侧导航','珍爱未来教育金');" href="https://www.cignacmb.com/insurance/zawl.html" target="_blank" title="珍爱未来教育金" otype="navigation" otitle="Psn000008" oarea="左侧导航菜单-珍爱未来教育金"><strong>珍爱未来教育金</strong> <span>教育深造连续8年领钱</span> </a></dd>
                                                    <dd><a onclick="_gsTracker.trackEvent('首页','左侧导航','百万守护（少儿）意外险');" href="https://www.cignacmb.com/insurance/bwsh.html" target="_blank" title="百万守护（少儿）意外险" otype="navigation" otitle="Psn000008" oarea="左侧导航菜单-百万守护（少儿）意外险"><strong>百万守护（少儿）意外险</strong> <span>14万意外医疗+154万意外保障+140%返还</span> </a></dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="category-li">
                                        <div class="category-li-item category-borderbottom"> <a onclick="_gsTracker.trackEvent('首页','左侧导航','意外保险');" href="https://www.cignacmb.com/insurance/yiwai/" class="category-item"><i class="icon-cate-ywbx"></i>意外保险</a>
                                            <div class="category-main" style="display: none;">
                                                <dl class="category-main-dl">
                                                    <dt><strong>意外保险</strong></dt>
                                                    <dd><a onclick="_gsTracker.trackEvent('首页','左侧导航','百万守护（少儿）意外险');" href="https://www.cignacmb.com/insurance/bwsh.html" target="_blank" title="百万守护（少儿）意外险" otype="navigation" otitle="Psn000022" oarea="左侧导航菜单-意外保险"><strong>百万守护（少儿）意外险<i class="icon-hot"></i></strong> <span>14万意外医疗+154万意外保障+140%返还</span> </a></dd>
                                                    <dd><a onclick="_gsTracker.trackEvent('首页','左侧导航','百万守护（成人）意外险');" href="https://www.cignacmb.com/insurance/xinyunwuyou3.html" target="_blank" title="百万守护（成人）意外险" otype="navigation" otitle="Psn000024" oarea="左侧导航菜单-意外保险"><strong>百万守护（成人）意外险</strong> <span>高达300万意外保障+20万意外医疗</span> </a></dd>
																										<dd><a onclick="_gsTracker.trackEvent('首页','左侧导航','顺心天天一年期综合意外保障');" href="https://www.cignacmb.com/insurance/sxtt.html" target="_blank" title="顺心天天一年期综合意外保障" otype="navigation" otitle="Psn000024" oarea="左侧导航菜单-意外保险"><strong>顺心天天一年期综合意外保障<i class="icon-new"></i></strong> <span>每天只需1元起</span> </a></dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="category-li">
                                        <div class="category-li-item category-borderbottom"> <a onclick="_gsTracker.trackEvent('首页','左侧导航','年金保险');" href="https://www.cignacmb.com/insurance/toulianxian/" class="category-item"><i class="icon-cate-tzfh"></i>年金保险</a>
                                            <div class="category-main" style="display: none;">
                                                <dl class="category-main-dl">
                                                    <dt><strong>年金保险</strong></dt>
                                                   <dd><a onclick="_gsTracker.trackEvent('首页','左侧导航','自在人生A款养老年金保险产品计划');" href="https://www.cignacmb.com/insurance/zizairenshenga.html" target="_blank" title="自在人生A款养老年金保险产品计划" otype="navigation" otitle="Psn000011" oarea="左侧导航菜单-年金保险"><strong>自在人生A款养老年金保险产品计划</strong><span>终身领取，灵活规划</span> </a> </dd>
                                                  <!-- <dd><a onclick="_gsTracker.trackEvent('首页','左侧导航','招盈六号年金（分红型）');" href="https://www.cignacmb.com/insurance/zylh.html" target="_blank" title="招盈六号年金（分红型）" otype="navigation" otitle="Psn000011" oarea="左侧导航菜单-年金保险"><strong>招盈六号年金（分红型）</strong><span>养老无忧，幸福传承</span> </a> </dd>-->
						   <dd><a onclick="_gsTracker.trackEvent('首页','左侧导航','筑福金生年金（非分红型）');" href="https://www.cignacmb.com/insurance/zfjs.html" target="_blank" title="筑福金生年金（非分红型）" otype="navigation" otitle="Psn000010" oarea="左侧导航菜单-年金保险"><strong>筑福金生年金（非分红型）<i class="icon-new"></i></strong> <span>终身领取，安享退休</span> </a> </dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="category-li">
                                        <div class="category-li-item category-borderbottom"> <a onclick="_gsTracker.trackEvent('首页','左侧导航','银行保险');" href="https://www.cignacmb.com/insurance/wdtb/" class="category-item"><i class="icon-cate-yhbx"></i>银行保险</a> 
                                            <div class="category-main" style="display: none;">
                                                <dl class="category-main-dl">
                                                    <dt><strong>银行保险</strong></dt>
                                                    <dd><a onclick="_gsTracker.trackEvent('首页','左侧导航','心悦一生保险产品计划');" href="https://www.cignacmb.com/insurance/xyys2019.html" target="_blank" title="心悦一生保险产品计划" otype="navigation" otitle="Psn000011" oarea="左侧导航菜单-银行保险"><strong>心悦一生保险产品计划<i class="icon-new"></i></strong><span>让你享有综合保障+养老储备</span> </a> </dd>
                                                                                                                                                                                                               <dd><a onclick="_gsTracker.trackEvent('首页','左侧导航','传家享悦年金保险产品计划');" href="https://www.cignacmb.com/insurance/chuanjiaxiangyue.html" target="_blank" title="传家享悦年金保险产品计划" otype="navigation" otitle="Psn000010" oarea="左侧导航菜单-银行保险"><strong>传家享悦年金保险产品计划</strong><span>终身可领年金，安心确定给付</span> </a> </dd>
                                                                                                                                                                                                                <dd><a onclick="_gsTracker.trackEvent('首页','左侧导航','珍爱未来C款少儿教育年金');" href="https://www.cignacmb.com/insurance/zhenaic.html" target="_blank" title="珍爱未来C款少儿教育年金" otype="navigation" otitle="Psn000010" oarea="左侧导航菜单-银行保险"><strong>珍爱未来C款少儿教育年金</strong><span>120%主险保额，85种重疾保障</span> </a> </dd>
																										<dd><a onclick="_gsTracker.trackEvent('首页','左侧导航','珍爱一生百分百重疾保障');" href="https://www.cignacmb.com/insurance/zhenaibaifenbai.html" target="_blank" title="珍爱一生百分百重疾保障" otype="navigation" otitle="Psn000010" oarea="左侧导航菜单-银行保险"><strong>珍爱一生百分百重疾保障</strong><span>特定疾病多重赔付，保至100岁</span></a></dd>
                                                </dl>
                                            </div>																				
																				</div>
                                    </div>

                                    <div class="category-li">
                                        <div class="category-li-item category-borderbottom"> <a onclick="_gsTracker.trackEvent('首页','左侧导航','电销保险');" href="https://www.cignacmb.com/insurance/dianxiao/" class="category-item"><i class="icon-cate-dxbx"></i></i>电销保险</a>
                                            <div class="category-main" style="display: none;">
                                                <dl class="category-main-dl">
                                                    <dt><strong>电销保险</strong></dt>
                                                   <dd><a onclick="_gsTracker.trackEvent('首页','左侧导航','诺享无忧意外伤害保险产品计划');" href="https://www.cignacmb.com/insurance/nxwy2019.html" target="_blank" title="诺享无忧意外伤害保险产品计划" otype="navigation" otitle="Psn000011" oarea="左侧导航菜单-电销保险"><strong>诺享无忧意外伤害保险产品计划</strong><span>可叠加多种意外 意外医疗不限社保用药</span> </a> </dd>
                                                   <dd><a onclick="_gsTracker.trackEvent('首页','左侧导航','健康之诺家庭医疗保险产品计划');" href="https://www.cignacmb.com/insurance/jkzl2019.html" target="_blank" title="健康之诺家庭医疗保险产品计划" otype="navigation" otitle="Psn000011" oarea="左侧导航菜单-电销保险"><strong>健康之诺家庭医疗保险产品计划</strong><span>住院每日领津贴 社保的有力补充</span> </a> </dd>
						                
                                                </dl>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="category-li">
                                        <div class="category-li-item"> <a onclick="_gsTracker.trackEvent('首页','左侧导航','高端医疗');" href="https://www.cignacmb.com/insurance/ipmi/" class="category-item"><i class="icon-cate-gdyl"></i>高端医疗</a> 
                                        <div class="category-main">
                                                <dl class="category-main-dl">
                                                    <dt><strong>高端医疗</strong></dt>
                                                    <dd><a onclick="_gsTracker.trackEvent('首页','左侧导航','醇享人生个人高端医疗保险');" href="https://www.cignacmb.com/insurance/chunxiangrensheng.html" target="_blank" title="醇享人生个人高端医疗保险" otype="navigation" otitle="Psn000018" oarea="左侧导航菜单-高端医疗"><strong>醇享人生个人高端医疗保险<i class="icon-new"></i></strong><span>醇享健康，尊贵人生</span></a></dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--nav-mod-bd-->
                            </div>
                        </li>
                        <li id="pnav_a"><a href="https://www.cignacmb.com/" title="首页" onclick="_gsTracker.trackEvent('顶部导航','首页','顶部导航首页');">首页</a></li>
                        <!--current 为当前项-->
                        <li id="insurance"><a href="https://www.cignacmb.com/insurance/" onclick="_gsTracker.trackEvent('顶部导航','个人客户','顶部导航挑选客户');" title="个人与家庭保险">个人与家庭保险</a></li>
                        <li id="corporateclient"><a href="https://www.cignacmb.com/Healthbenefits/" onclick="_gsTracker.trackEvent('顶部导航','团体计划','顶部导航团体计划');" title="团体保险">团体保险</a></li>
                        <li id="service"><a href="https://www.cignacmb.com/service/" class="nav-item-a" title="服务指引" onclick="_gsTracker.trackEvent('顶部导航','服务指引','顶部导航客户服务');">服务指引</a></li>
                        <li id="about"><a href="https://www.cignacmb.com/about/" class="nav-item-a nav-aboutus" title="关于我们"  target="_blank"  onclick="_gsTracker.trackEvent('顶部导航','关于我们','顶部导航关于我们');">关于我们</a></li>
                    </ul>
                </div>
            </div>
            <!--cc-nav end--> </div>
    </div>
</div>
<script src="https://www.cignacmb.com/public/js/common2.js"></script>
</div>
</div>

<!-- HEADER END -->

		<!--main 在这里写入代码 START-->
		<link rel="stylesheet" type="text/css" href="https://www.cignacmb.com/insurance/zabb/js/select2/select2.min.css">
		<link rel="stylesheet" type="text/css" href="https://www.cignacmb.com/insurance/zabb/css/style.css">
		<div class="act-page">
			<div class="banner">
				<h1><span>珍爱宝贝少儿教育年金保险产品计划 </span></h1>

				<div class="p-mbx">
					<a href="https://www.cignacmb.com/" target="_blank" title="返回首页">首页</a><span> &gt; </span>
					<a href="https://www.cignacmb.com/insurance/" oarea="面包屑" onclick="changeHref(this)" otitle="网上商城" otype="chanpin" target="_blank">保险产品</a><span> &gt; </span><span>珍爱宝贝少儿教育年金保险产品计划 </span></div>
			</div>
<!--<div style="margin: 0px auto; width: 980px; padding: 20px 0px;"><img alt="春日送暖预约咨询教育金送绘本" src="https://www.cignacmb.com/d/file/20190315/55562dcbdcc6bac01956f380819f1658.jpg"></div>-->
			-<div style="margin: 0px auto; width: 980px; padding: 20px 0px;"><img alt="预约咨询教育金送书包" src="https://www.cignacmb.com/d/file/20190520/27ed6e896edca63d7759e8b6727b1d08.jpg"></div>
			<!--6大特色  多重守护-->
			<div class="floor pro" id="anchor">
				<h2 class="m-bt">6大特色  多重守护</h2>
				<div class="boxmain-inner">
					<div class="pro-l fl">
						<ul class="pro-ul clearfix">
							<li class="pro-li">
								<img class="pro-img" src="https://www.cignacmb.com/insurance/zabb/images/img01.png" />
								<h3>教育年金，专款专用</h3>
								<p>领钱早，15岁起开始领钱，连续11年固定领取，教育深造<br />婚嫁，皆有保障。</p>
							</li>
							<li class="pro-li"><img class="pro-img" src="https://www.cignacmb.com/insurance/zabb/images/img02.png" />
								<h3>重大疾病，百万保障</h3>
								<p>保85种重疾，其中白血病、川崎病、深度昏迷、严重脑损伤、<br />严重Ⅲ度烧伤等5种特定重大疾病双倍赔付，最高100万。</p>
							</li>
							<li class="pro-li"><img class="pro-img" src="https://www.cignacmb.com/insurance/zabb/images/img03.png" />
								<h3>住院津贴，贴心呵护</h3>
								<p>最高300元/天，补贴天数最多可达600天。社保报销之后还能<br />领取。</p>
							</li>
							<li class="pro-li"><img class="pro-img" src="https://www.cignacmb.com/insurance/zabb/images/img04.png" />
								<h3>意外医疗，保障更全</h3>
								<p>附加长期意外医疗，门诊&住院都能赔。保险期间内累计可赔<br />付10倍保额，累计最高20万。 </p>
							</li>
								<li class="pro-li"><img class="pro-img" src="https://www.cignacmb.com/insurance/zabb/images/img05.png" />
								<h3>豁免保费，延续关爱</h3>
								<p>如果投保人在等待期后（意外伤害无等待期限制）不幸身故或<br />罹患重疾，可免交后继保费，人性设计更显关爱。</p>
							</li>
							<li class="pro-li"><img class="pro-img" src="https://www.cignacmb.com/insurance/zabb/images/img06.png" />
								<h3>灵活定制，性价比高</h3>
								<p>交费年限灵活选择；重疾、住院、意外医疗、定寿、豁免等<br />附加保障可按需自由搭配。</p>
							</li>
						</ul>
					</div>

					<div class="myform fr">
						<h3>保费测算</h3>
						<form action="" id="myform" method="post" name="myform" target="myiframe">
							<div class="form-item form-gender clearfix"><label>宝宝性别：</label>

								<div class="textbox" id="gender">
									<div class="radio-box"><span class="radio-bg radio-bg2">男孩</span> <input checked="checked" name="gender" type="radio" value="M" /></div>
									<div class="radio-box"><span class="radio-bg">女孩</span> <input name="gender" type="radio" value="F" /></div>
								</div>

								<div class="icon-true" id="icon-jffs"></div>
							</div>
							<div class="form-item form-age clearfix"><label>宝宝年龄：</label>
								<div class="selectbox">
									<select id="age" name="age" tip="请选择宝宝的年龄">
										<option value="">请选择</option>
										<option value="0岁">0岁</option>
										<option value="1岁">1岁</option>
										<option value="2岁">2岁</option>
										<option value="3岁">3岁</option>
										<option value="4岁">4岁</option>
										<option value="5岁">5岁</option>
										<option value="6岁">6岁</option>
										<option value="7岁">7岁</option>
										<option value="8岁">8岁</option>
										<option value="9岁">9岁</option>
										<option value="10岁">10岁</option>
										<option value="11岁">11岁</option>
										<option value="12岁">12岁</option>
										<option value="13岁">13岁</option>
									</select>
								</div>
							</div>

							<div class="form-item form-gender clearfix"><label>交费方式：</label>
								<div class="textbox" id="remark2">
									<div class="radio-box"><span class="radio-bg radio-bg2">年交</span> <input checked="checked" name="remark2" type="radio" value="年交" /></div>
									<div class="radio-box"><span class="radio-bg">半年交</span> <input name="remark2" type="radio" value="半年交" /></div>
									<div class="radio-box"><span class="radio-bg">季交</span> <input name="remark2" type="radio" value="季交" /></div>
									<div class="radio-box"><span class="radio-bg">月交</span> <input name="remark2" type="radio" value="月交" /></div>
								</div>

								<div class="icon-true" id="icon-jffs"></div>
							</div>

							<div class="form-item form-remark1 clearfix"><label>基本保额：</label>

								<div class="selectbox">
									<select id="remark1" name="remark1" tip="请输入您的保额">
										<option value="">请选择</option>
										<option value="1-10万">1-10万</option>
										<option value="10-20万">10-20万</option>
										<option value="20-30万">20万以上</option>
									</select>
								</div>
							</div>

							<div class="form-item form-name clearfix"><label>您的姓名：</label>

								<div class="textbox"><input class="text" id="name" name="name" placeholder="您的信息将被严格保密" tip="请填写您的姓名" type="text" value="" /></div>
							</div>

							<div class="form-item form-mobile clearfix"><label>您的手机：</label>

								<div class="textbox"><input class="text" id="mobile" maxlength="11" name="mobile" onkeyup="this.value=this.value.replace(/D/g,'')" placeholder="用于接收精准报价" tip="请正确填写您的电话" type="text" value="" /></div>
							</div>
							<!--必填-->
							<input id="iqId" name="iqId" type="hidden" value="13970373" />
							<input id="campaignCode" name="campaignCode" type="hidden" value="1GG8GOSEOPCXAAAE1" />
							<input id="product" name="product" type="hidden" value="DTCSEOZAC" />
							<input id="ChannelID" name="ChannelID" type="hidden" value="5" />
							<input id="subUrl" type="hidden" value="/campaign/hd/success.html" />

							<!--选填-->
							<input id="url" name="url" type="hidden" value="" />
							<input id="IsToLG" name="IsToLG" type="hidden" value="1" />
							<input id="wtmcId" name="wtmcId" type="hidden" value="" />
							<input id="searchWords" name="searchWords" type="hidden" value="" />
							<input id="remark" name="remark" type="hidden" value="预约咨询教育金送书包" />
							<input id="pyid" name="pyid" type="hidden" value="" />
							<input id="gridsumid" name="gridsumid" type="hidden" value="" />
							<div class="form-item form-submit"><input class="submit_form" id="submit_form" type="button" value="立即测算" /></div>
							<div class="form-aqsm">
							<!--	<p class="p-color">您也可以亲临招商银行、民生银行可销售区域网点咨询购买该产品。<br />
									<a href="javascript:void(0)" class="btn-layer">合作区域查询</a>-->
								</p>
								<div class="form-clause shouquan-html"><input class="clause check-shouquan" id="clause" name="clause" tip="请确认个人信息使用授权" type="checkbox" value="" /> 本人同意招商信诺后续致电联系进行保险产品介绍及精准报价，<br />同意接受
									<a class="btn-shouquan" href="javascript:void(0)">[个人信息使用授权]</a>
								</div>
							</div>

						</form>
						<iframe id="myiframe" name="myiframe" style="display: none;"></iframe></div>

				</div>
			</div>

			<!--尊享增值服务 · 医疗咨询热线 -->
			<div class="trump">
				<h2 class="m-bt">尊享增值服务<span class="dit">&nbsp;</span>医疗咨询热线</h2>
				<p class="f-bt">由招商信诺专属健康管理团队打造，服务贯穿整个保障期。
					<a class="click-view" href="https://www.cignacmb.com/campaign/zengzhifuwu/ylzxrx.html" target="_blank">点击查看详情</a>
				</p>
				<div class="boxmain-inner">
					<ul class="trump-ul clearfix">
						<li class="trump-li">
							<div class="item">
								<img src="https://www.cignacmb.com/insurance/zabb/images/icon01.png" />
								<h3>就诊科室推荐</h3>
								<p>三甲医院背景医生为您病情预判，<br /> 推荐就诊医院及科室</p>
							</div>
						</li>
						<li class="trump-li">
							<div class="item">
								<img src="https://www.cignacmb.com/insurance/zabb/images/icon02.png" />
								<h3>小病小痛不用上医院排队</h3>
								<p>专家为您提供饮食养生、运动、疾病<br /> 预防等日常健康咨询</p>
							</div>
						</li>
						<li class="trump-li last">
							<div class="item">
								<img src="https://www.cignacmb.com/insurance/zabb/images/icon03.png" />
								<h3>紧急情况处理指导</h3>
								<p>当遭遇紧急情况（如外伤、高热、<br /> 被犬咬伤等），我们第一时间给予<br /> 专业建议与处理指导</p>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<!--投保案例-->
			<div class="floor case">
				<h2 class="m-bt">投保案例</h2>
				<div class="boxmain-inner">
					<div class="case-box case-box1">
						<dl>
							<dd>
								<p>投保人张女士（32岁），为女儿彤彤（1岁）投保该少儿教育年金保险产品计划。 考虑到孩子成长可能面临的风险，附加了重疾、住院、意外医疗、豁免等保障：</p>
								<ul class="case-ul clearfix">
									<li>教育金保额：10万</li>
									<li>重大疾病保额：30万</li>
									<li>住院津贴保额：150元/天</li>
									<li>意外伤害医疗保额：1万</li>
									<!--<li>定期寿险保额：10万</li>-->
									<li>交费期：10年</li>
								</ul>
							</dd>
						</dl>
						<h2 class="table-title">张女士和彤彤获得保障如下：</h2>
						<table>
							<tr>
								<th width="180" rowspan="2" scope="row">教育金<br /><span>（主险）</span></th>
								<td width="180" rowspan="2">12万元</td>
								<td>教育年金：18-24岁，7万</td>
							</tr>
							<tr>
								<td>满期保险金：25岁，5万</td>
							</tr>
							<tr>
								<th rowspan="2" scope="row">重疾保障<br /><span>（附加险2）</span></th>
								<td rowspan="2">最高60万元</td>
								<td>重大疾病保险金：30万</td>
							</tr>
							<tr>
								<td>特定重大疾病保险金：额外给付30万</td>
							</tr>
							<tr>
								<th scope="row">住院津贴<br /><span>（附加险3）</span></th>
								<td>最高300元/天</td>
								<td>普通住院津贴，150元/天，意外住院津贴：300元/天<br />在每一保单年度内，住院津贴保险金累计给付天数以90天为限，<br />保险期间内，累计给付600天为限</td>
							</tr>
							<tr>
								<th scope="row">意外医疗保障<br /><span>（附加险4）</span></th>
								<td>1万元</td>
								<td>对于社保范围内的医疗费用：<br />社保先报销的，赔付余下的100%<br />社保未先报销的，赔付80%</td>
							</tr>
							<tr>
								<th scope="row">身故保障</th>
								<td colspan="2">如果被保险人在合同期间内不幸身故，我方将向受益人给付100%主险已付保费</td>
							</tr>
							<tr>
								<th scope="row">保费豁免<br /><span>（附加险5）</span></th>
								<td colspan="2">如果投保人不幸身故或患合同约定的65种重大疾病，免交剩余保费，被保险人继续享有保障至25周岁</td>
							</tr>
							<!--<tr>
								<th scope="row">定期寿险<br /><span>（附加险6）</span></th>
								<td colspan="2">如果投保人不幸身故或全残，被保人可额外获得定期寿险保险金</td>
							</tr>-->
							<tr>
								<th scope="row">增值服务</th>
								<td colspan="2">保障期间，免费提供三甲医院背景医生电话咨询服务，包括：病情预判、日常健康咨询、紧急情况专业处理等</td>
							</tr>
						</table>
						<div class="case-txt">
							<p>注：本合同附加险2、3、4、5的等待期为生效之日（及每次复效之日）起180天内（含第180天）；因意外伤害导致身故、重疾或者特定疾病没有等待期的限制。</p>
						</div>
						<a class="btn-bfcs" href="#anchor">保费测算</a>
					</div>
				</div>
			</div>

			<!--投保须知-->
			<div class="floor instructions">
				<h2 class="m-bt">投保须知</h2>
				<div class="boxmain-inner">
					<ul class="clearfix">
						<li><span>投保人年龄</span>20周岁—60周岁</li>
						<li><span>被保人年龄</span>出生满28天—13周岁</li>
						<li><span>保障金额</span>最低1万元</li>
						<li><span>保障期限</span>至25周岁保单周年日</li>
						<li><span>交费年限</span>3年/5年/10年</li>
						<li><span>交费方式</span>年交/半年交/季交/月交</li>
					</ul>
					<dl>
						<dt><p>产品名称：珍爱宝贝少儿教育年金保险产品计划</p></dt>
						<dd>
							<p>投保地区：<span id="fname">广东、北京、上海、江苏、浙江、山东、四川、重庆、湖北、陕西、辽宁、湖南、河南、江西、天津</span></p>
						</dd>
						<dd>
							<p class="li-tk">保险条款：<br />
								<a href="https://www.cignacmb.com/sc/doc/tiaokuan/zhenaiweilaishaoerjiaoyunianjin.pdf" target="_blank">主险：《招商信诺珍爱未来少儿教育年金保险条款》 </a><br />
								<a href="https://www.cignacmb.com/sc/doc/tiaokuan/20180607_1.pdf" target="_blank">附加险1：《招商信诺附加启航高中大学教育年金保险》（可选）</a><br />
								<a href="https://www.cignacmb.com/sc/doc/tiaokuan/20180607_4.pdf" target="_blank">附加险2：《招商信诺附加启航重大疾病保险》（可选）</a><br />
								<a href="https://www.cignacmb.com/sc/doc/tiaokuan/20180607_3.pdf" target="_blank">附加险3：《招商信诺附加启航长期住院津贴医疗保险》（可选）</a><br />
								<a href="https://www.cignacmb.com/sc/doc/tiaokuan/fujiaqihangchangqiyiwaishanghaiyiliao.pdf" target="_blank">附加险4：《招商信诺附加启航长期意外伤害医疗保险》（可选）</a><br />
								<a href="https://www.cignacmb.com/sc/doc/tiaokuan/20170728.pdf" target="_blank">附加险5：《招商信诺附加豁免保险费重大疾病保险B款条款》（可选）</a><br />
								<a href="https://www.cignacmb.com/sc/doc/tiaokuan/2017012002.pdf" target="_blank">附加险6：《招商信诺附加臻爱定期寿险》（可选）</a>
							</p>
						</dd>
						<dd>
							<p class="remarks">本网页仅供参考，不构成保险合同组成部分，保险责任、责任免除、等待期、理赔要求等重点内容，以保险合同为准。</p>
						</dd>
					</dl>
				</div>
			</div>

			<!--投保流程-->
			<div class="Process1">
				<h2 class="m-bt">投保流程</h2>
				<div class="boxmain-inner">
					<h2 class="f-bt">电话投保</h2>
					<ul class="process1-ul">
						<li>填写表单<br /> 在线预约
						</li>
						<li>客服回访<br /> 电话咨询 <br />400-880-3633</li>
						<li>确认需求<br /> 电话确认
						</li>
						<li class="no">付费成功<br /> 保单寄送
						</li>
					</ul>
					<h2 class="f-bt">银行投保</h2>
					<div class="yhtb">
						<p>您可以亲临招商银行、民生银行可销售区域网点咨询购买该产品。
							<a href="javascript:;" class="btn-layer">合作区域查询</a>
						</p>
					</div>
				</div>
			</div>

			<!--理赔流程-->
			<div class="floor Process2">
				<div class="boxmain-inner">
					<h2 class="m-bt">理赔流程</h2>
					<ul class="process2-ul">
						<li><strong>理赔报案</strong>
							<p>保险事故发生后10日内拨打客服热线95362报案并获取《索赔申请书》，并提供相关证明和资料原件</p>
						</li>
						<li><strong>准备理赔资料</strong>
							<p>请您完整填写和亲笔签署《索赔申请书》</p>
						</li>
						<li><strong>提交索赔申请</strong>
							<p>拨打客服热线95362提交索赔申请</p>
						</li>
						<li><strong>理赔核定</strong>
							<p>我们收到您的索赔资料后将及时登记，并核实您的理赔资料</p>
						</li>
						<li class="no"><strong>理赔给付</strong>
							<p>如果您的索赔申请经核定可以获得赔付，我们将会在3个工作日内把保险金汇入您指定的银行账户。</p>
						</li>
					</ul>
					<p class="receive">教育金领取：教育金产生后，您可在我司官方APP&ldquo;完美人生&rdquo;或我司官方微信公众号&ldquo;招商信诺在线&rdquo;点击【保单管理】-【领取生存类保险金】自助申领。</p>
				</div>
			</div>
		</div>
		<script src="https://www.cignacmb.com/assets/common/js/common_LG.js"></script>
		<script src="https://www.cignacmb.com/sites/default/themes/cigna_cmc/cignacmb/js/layer/layer.js"></script>
		<script src="https://www.cignacmb.com/sites/default/themes/cigna_cmc/cignacmb/js/product_common.js"></script>
		<script src="https://www.cignacmb.com/insurance/zabb/js/jquery.placeholder.min.js"></script>
		<script src="https://www.cignacmb.com/insurance/zabb/js/select2/select2.min.js"></script>
		<script src="https://www.cignacmb.com/insurance/zabb/js/form.js"></script>
		<script type="text/javascript">
			/*公共的提示信息*/
			function show_tips(msg, check_id) {
				layer.tips(msg, $('#' + check_id), {
					tips: [3, '#3fa7e9'],
					time: 4000
				});
				// $('#'+check_id).focus();
			}

			$(".myform input,.myform .selectbox dl dt").click(function() {
				layer.closeAll('tips');
			});

			$('.selectbox select').select2({
				minimumResultsForSearch: -1
			});

			/*表单提交*/
			$(function() {
				$('#name,#mobile').placeholder({
					isUseSpan: true
				});

				radioChange("#remark2");
				radioChange("#gender");

				var fil = ["age", "remark1", "name", "mobile", "clause"];
				$("#submit_form").click(function() {

					$("#remark").val("预约咨询教育金送书包 |"+
						"宝宝性别：" + $("input[name='gender']:checked").val() + "|" +
						"宝宝年龄：" + $("#age option:selected").val() + "|" +						
						"交费方式：" + $("input[name='remark2']:checked").val() + "|" +
						"基本保额：" + $("#remark1 option:selected").val()
					);
					checkcommit(fil);
					//console.log($("#remark").val());
					//alert($("#remark1").val());
				});
			})

			$(function() {
				var InsuranceCity = '';
				for(i = 0; i < InsuranceArea.length; i++) {
					InsuranceCity = InsuranceCity + InsuranceArea[i] + '、';
				}
				InsuranceCity = (InsuranceCity.substring(InsuranceCity.length - 1) == '、') ? InsuranceCity.substring(0, InsuranceCity.length - 1) : InsuranceCity;
				$("#fname").html(InsuranceCity); //分割后的字符输出 
			})
		</script>
		<!--main 在这里写入代码 END -->

<div class="brands">
    <div class="brands-inner">
	   <div class="brands-title">
	    <strong><img src="https://www.cignacmb.com/sites/default/themes/cigna_cmc/cignacmb/images/logo_cignacmb.png" alt="招商信诺人寿保险有限公司" title="招商信诺人寿保险有限公司"></strong>
		<hr>
	   </div>
	   <div class="brands-cont">
	   <dl class="brands-list brands-cignacmb">
	      <dt>招商信诺是一家以健康医疗险为特色的合资寿险公司，凭借股东招商银行和美国信诺保险丰富的金融、保险资源和经验，为企业和家庭提供有针对性的保险产品和健康管理服务。</dt>
		  <dd>• 2015-2017年连续3年斩获《21世纪经济报道》年度稳健经营保险公司</dd>
		  <dd>• 2017年《国际金融报》“2017年度保险保障先锋论坛”科技创新大奖</dd>
		  <dd>• 2014-2016年 蝉联《经济观察报》“年度卓越合资人寿保险公司”奖</dd>
	   </dl>
	   <dl class="brands-list brands-cmb">
	      <dt><img src="https://www.cignacmb.com/sites/default/themes/cigna_cmc/cignacmb/images/logo_cmb.png" alt="招商银行股份有限公司" title="招商银行股份有限公司"></dt>
		  <dd>• 2016《财富》全球500强排名189</dd>
		  <dd>• 2015《银行家》全球1000家大银行排名28</dd>
		  <dd>• 2015年获《亚洲银行家》中国区最佳私人银行</dd>
		  <dd>• 2015年获《亚洲银行家》中国最佳零售银行</dd>
	   </dl>
	   <dl class="brands-list brands-cigna">
	      <dt><img src="https://www.cignacmb.com/sites/default/themes/cigna_cmc/cignacmb/images/logo_cigna.png" alt="美国信诺保险" title="美国信诺保险"></dt>
		  <dd>• 2016《财富》全球500强排名264</dd>
		  <dd>• 2016年世界医疗健康行业最受赞赏企业第3名</dd>
		  <dd>• 美国四大商业健康保险公司之一</dd>
		  <dd>• 全球30个国家及地区提供服务</dd>
	   </dl>
	   </div>
	</div>
</div>

<div class="product-detail">
<div id="page" class="clearfix">
<div class="region region-copyright-footer">
    <div id="block-block-122" class="block block-block">
		<div class="content">
			<!--ifooterbj begin--> 
			<div class="ifooterbj">
				<div class="grid-inner">
					<div class="ifooterbj-content">
						<p>
							<a rel="nofollow" class="special" href="https://www.cignacmb.com/about/" target="_blank" title="关于我们">关于我们</a>|
							<a rel="nofollow" href="https://www.cignacmb.com/xinxi/jibenxinxi/gaikuang.html" target="_blank" title="公开信息披露">公开信息披露</a>|
							<a rel="nofollow" href="http://job.cignacmb.com/" target="_blank" title="加入我们">加入我们</a>|
							<a rel="nofollow" href="https://www.cignacmb.com/about/contactus.html" target="_blank" title="联系我们">联系我们</a>|
							<a rel="nofollow" href="https://www.cignacmb.com/about/copyright.html" target="_blank" title="版权声明">版权声明</a>|
							<a rel="nofollow" href="https://www.cignacmb.com/about/privacy.html" target="_blank" title="隐私声明">隐私声明</a>|
							<a href="https://www.cignacmb.com/sitemap.html" target="_blank" title="网站地图">网站地图</a>
						</p>
						<p>Copyright © 2019 招商信诺人寿保险有限公司 All Rights Reserved. 粤ICP备11053445号-2</p>
						<p class="mb10">服务热线：95362　　销售热线：400-880-3633</p>
					</div>
					<div class="ifooterbj-r">
					<ul class="qrcode-ul clearfix">
						<li>
							<img src="https://www.cignacmb.com/public/images/index2017/qrcrod_app.jpg" alt="下载官方APP" />
							<p>下载官方APP</p>
						</li>
						<li>
							<img src="https://www.cignacmb.com/public/images/index2017/qrcrod_fw.jpg" alt="关注官方服务号" />
							<p>关注官方服务号</p>
						</li>
					</ul>
				</div>
				</div>
			<!--ifooterbj end-->
			</div>
		</div>
	</div>
	<div id="cacheboostid"></div>
<script type="text/javascript" src="https://www.cignacmb.com/public/js/common2.js"></script><!--控制头部菜单下拉的，勿删-->
<script type="text/javascript" src="https://www.cignacmb.com/public/js/md5.js"></script>
<script type="text/javascript" src="https://www.cignacmb.com/public/js/live800.js"></script>
<script type="text/javascript" src="https://www.cignacmb.com/public/js/common.js"></script>
<script src="https://www.cignacmb.com/public/js/CountGW_pc.js"></script>
</div>
</div>
</body>
</html>